<div class="card card-custom gutter-b">
    <div class="card-header">
      <div class="card-title">
        <h3 class="card-label"><i class="icon-2x text-dark-50 flaticon-interface-9 mx-2"></i> Lista Categorias</h3>
      </div>
      <div class="card-toolbar">
        <a
          type="button"
          class="btn btn-primary"
          (click)="addCategoria()"
          ><i class="icon-2x text-white flaticon-file-1"></i> Nuevo Categoria</a
        >
      </div>
    </div>
    <div class="card-body">
        <ng-container *ngIf="isLoading$ | async">
            <span class="spinner spinner-primary ml-5"></span>
        </ng-container>
    
    </div>
  </div>
